<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFPluginManifest</key>
	<dict>
		<key>WFPluginDetail</key>
		<string>plugin.LayoutSupport.detail</string>
		<key>WFPluginHasInstallableContent</key>
		<true/>
		<key>WFPluginInjectionTargets</key>
		<dict>
			<key>Bundles</key>
			<array>
				<string>com.apple.Bridge</string>
			</array>
			<key>Executables</key>
			<array/>
		</dict>
        <key>WFPluginMaximumSystemVersion</key>
        <integer>1114881</integer> <!-- 17.3.1 -->
		<key>WFPluginMinimumWatchOSVersion</key>
		<integer>655360</integer> <!-- 10.0.0 -->
		<key>WFPluginNanoCapabilities</key>
		<array/>
		<key>WFPluginRestartExecutables</key>
		<array>
			<string>Bridge</string>
		</array>
		<key>WFPluginScopeIdentifier</key>
		<string>com.apple.Bridge</string>
		<key>WFPluginTitle</key>
		<string>plugin.LayoutSupport.title</string>
	</dict>
</dict>
</plist>
